language: python

python:
  - '2.7'

install: pip install -r requirements.txt

script: make test

notifications:
  email:
    recipients:
      - benjamin@bengfort.com
      - allen.leis@gmail.com
    on_success: change
    on_failure: always
